
.container{
    height: 100vh;
    background-color: rgb(3, 3, 33);
    color: rgb(78, 212, 212);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.btn{
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    cursor: pointer;
}
.text{
    padding-right: 240px;
    margin-bottom: 10px;
}
input{
    padding-right: 160px;
    padding-left: 7px;
    padding-top: 2px;
    padding-bottom: 2px;
    height: 30px;
    background: rgb(3, 3, 33);
    border-color: rgb(227, 219, 219);
    color: white;
    border: 1px solid beige;
}
